name: Build and Publish Data

on:
  push:
    paths:
      - 'metadata/**'
      - 'build-db.cjs'
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install Dependencies
        run: npm install duckdb

      - name: Build Parquet
        run: node build-db.cjs

      - name: Prepare Publish
        run: |
          mkdir dist
          mv resources.parquet dist/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          force_orphan: true
